<h1>Welcome to your secret page.</h1>

<p>
    We finally found it
</p>

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/67/2018_FIFA_World_Cup.svg/281px-2018_FIFA_World_Cup.svg.png">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>